.foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1110px;
  height: 23px;
  padding-top: 50px;
  flex-wrap: wrap;
  padding-bottom: 30px;

  ul {
    display: flex;
    list-style: none;
    color: #111;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.346px;
  }
  
  li{
    margin-right: 10px;
  }
  
}
footer{
  padding-bottom: 20px;
}