.bottom-container {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  width: 1110px;
  height: 411px;
flex-wrap: wrap;
  align-items: center;

  .bottom,
  .bottom-right,
  .date {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.divider-2{
  padding-left: 50px;
}